h1,
li {
  color: purple;
}

#food-title {
  color: goldenrod;
}

.foods,
.foriegn {
  color: grey;
  font-weight: 700;
  font-style: italic;
}

.bold {
  font-weight: 100;
}

.bg-red {
  background-color: red;
}

.big {
  font-size: 3em;
}