* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: beige;
  margin: 0 20px;
}

header h1 {
  text-align: center;
  color: gainsboro;
  margin: 20px;
  font-size: 3em;
  text-transform: capitalize;
  text-shadow: 3px 5px 20px #777;
  box-shadow: 3px 5px 20px #777;
  border: 2px solid palevioletred;
  background-color: rgba(216, 112, 147, 0.358);
  border-radius: 50px;
  background-image: url('./nature.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  padding: 20px;
}

.section-card {
  background-color: rgba(152, 251, 152, 0.224);
  color: white;
  margin-bottom: 15px;
  padding: 30px;
  border: 5px solid palegreen;
  border-radius: 20px;
}

h1,
li {
  color: purple;
}

#food-title {
  color: goldenrod;
}

.foods,
.foriegn {
  color: grey;
  font-weight: 700;
  font-style: italic;
}

.bold {
  font-weight: 100;
}

.bg-red {
  background-color: red;
}

.big {
  font-size: 3em;
}